[gitlab]

user = "foobar"
password = "barbaz"
url = "http://gitlab.host/api/v3"

webhook-address = "your-ip-or-hostname-here"
webhook-port = "10042"

ssh-key-path = "/path/to/private/ssh/key/of/shurik/for/gitlab"

[jenkins]

user = "foobar"
password = "foobar_api_token"

[[project-set]]

[[project-set.project]]
workspace-dir = "/path/to/shurik/workspace/project_name"
reviewers = [ "foobaz_gitlab_login" ]
job-url = "https://hudson.host/jenkins/job/project_name/build"

[[project-set.project]]
workspace-dir = "/path/to/shurik/workspace/another_project_name"
reviewers = [ "barbar_gitlab_login" ]
job-url = "https://hudson.host/jenkins/job/another_project_name/build"
