[general]

workspace-dir = "/path/to/shurik/workspace/project_name"

[gitlab]

user = "foobar"
password = "barbaz"
url = "http://gitlab.host/api/v3"
reviewers = [ "foobaz_gitlab_login" ]

webhook-address = "your-ip-or-hostname-here"
webhook-port = "10042"

ssh-key-path = "/path/to/private/ssh/key/of/shurik/for/gitlab"

[jenkins]

user = "foobar"
password = "foobar_api_token"
token = "build_token_from_jenkins"
job-url = "https://hudson.host/jenkins/job/shurik/build"
